@tailwind base;

@tailwind components;

@tailwind utilities;

main {
  height: 5000px;
}

.fade-in-from {
  opacity: 0;
}

.fade-in-active {
  transition: opacity 1s ease-out;
}

.accordion-item__container[aria-hidden="true"] {
  display: none;
}

[data-breakpoint]::after,
[data-breakpoint]::before {
  z-index: -999;
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

[data-breakpoint]::after {
  content: "s,m,l";
}

[data-breakpoint]::before {
  content: "s";
}

@media (min-width: 768px) {
  [data-breakpoint]::before {
    content: "m";
  }
}

@media (min-width: 1280px) {
  [data-breakpoint]::before {
    content: "l";
  }
}
