.cursor {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  background-color: #fff;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: scale(0) translate3d(50vw, 50vh, 0);
  transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
