@require './code'

.sidebar-heading {
  font-size 1.25em !important
}

.sidebar-links a.sidebar-link {
  font-size 1.125em
  font-weight bold
  transition color 0.125s ease-out
}

.sidebar-links .sidebar-sub-header a.sidebar-link {
  font-size 1em
  font-weight normal
}

.sidebar .sidebar-sub-headers {
  opacity 0.6125
  transition opacity 0.125s ease-out
}

.sidebar .active + .sidebar-sub-headers {
  opacity 1
}

#page .theme-default-content {
  max-width 50rem
}
