@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  height: 5000px;
}

.accordion-item__content[aria-hidden="true"] {
  display: none;
}

img:not(.is-loaded) {
  opacity: 0;
}

[data-breakpoint]::after,
[data-breakpoint]::before {
  z-index: -999;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[data-breakpoint]::after {
  content: "s,m,l";
}

[data-breakpoint]::before {
  content: "s";
}

@media (min-width: 768px) {
  [data-breakpoint]::before {
    content: "m";
  }
}

@media (min-width: 1280px) {
  [data-breakpoint]::before {
    content: "l";
  }
}
