name: Tests
on: pull_request
jobs:
  Unit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Install modules
      run: npm ci
    - name: Run tests
      run: npm run test
